.container{
    max-width: 955px;
    background-color: aqua;
    margin: auto;
    height: 60vh;
}
.message{
    background-color: gray;
    width: 24%;
    padding: 10px;
    margin: 17px 12px;
    border: 2px solid black;
    border-radius: 10px;
}

.left{
    float: left;
    clear: both;
}
.right{
    float: right;
    clear: both;
}

#send-container{
    text-align: center;
    margin: auto ;
    max-width: 985px;
    width: 100%;
}
input{
    width: 90%;
    border: 2px solid blue;
    height: 30px;
}
